<br />
<br />
<br />

<div class="row">
    <div class="col-lg-8">
        <div class="social-icon text-center">
            <a href="https://www.facebook.com/badha411-/?fref=ts">
                <i class="fa fa-facebook-square fa-3x"></i>
            </a>
            <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
            <a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
            <a href="https://www.linkedin.com/"><i class="fa fa-linkedin-square fa-3x"></i></a>
        </div>

        <div class="row item_fade_in">
            <h4 class="text-center">Drop us a Line</h4>
            <div class="col-md-6 col-md-offset-3">
                <div class="form-respond text-center">
                </div>
                <form method="post" name="contactform" id="contactform" class="form validate item_bottom" role="form">
                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control required" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control required email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="message" class="form-control input-lg required" rows="9" placeholder="Enter Message"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" id="contactForm_submit" class="btn btn-trans btn-border btn-primary" value="Submit">
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <section id="quick-contact">
            <div class="holder">
                <h2 class="-slide-top -opacity">Want to work with me?</h2>
                <div class="contact-info">
                    <p>
                        <span class="glyphicon glyphicon-envelope">
                            Email:
                            <a href="mailto:info@iamrajiv.com" title="info@iamrajiv.com"><i class="fa fa-envelope"></i> info@iamrajiv.com</a>
                        </span>
                    </p>
                    <p><span class="glyphicon glyphicon-phone"></span> Phone:<i class="fa fa-mobile"></i> +847-857-6468</p>
                    <p><span class="glyphicon glyphicon-skype"><i class="fa fa-skype"></i> rajiv4112</span></p>
                </div>
                <div class="social">
                    <a href="https://www.behance.net/iamrajiv" target="_blank"><i class="fa fa-behance"></i></a>
                    <a href="https://dribbble.com/iamrajiv" target="_blank">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                    </a>
                    <a target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/badha411" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/rajiv b" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://plus.google.com/u/0/108181928808181695843/posts" target="_blank"><i class="fa fa-google-plus"></i></a>
                </div>
                <a title="info@iamrajiv.com" class="button">Get in touch</a>

            </div>
        </section>
    </div>
</div>
<div id="map_canvas" class="item_fade_in">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.8573844137954!2d-75.99436188470884!3d36.84589147993917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1aa2261ba29de2b3!2sIndigo+19+Apartments!5e0!3m2!1sen!2sus!4v1475001315092"
            width="100%" height="100%"></iframe>
</div>

<footer class="text-center">
    <!-- Footer Text -->
    <div class="container text-center item_top" style="background-color:white;">
        <img class="footer-logo" src="../images/br.png"  alt="footer logo"><br /> &copy; Copyright 2016. Rajiv Inc. All Rights Reserved.

    </div>
</footer>
